<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
</head>
<body>
<p>Hi {{username}},</p>
<p>Thank you for signing up for our service.</p>
<p>Please click the following link to verify your email address:</p>
<p>
    <a href="{{host}}auth/confirmed_email/{{token}}">
        Verification
    </a>
    <br/>

    <br/>
    <img src="https://fastapi-check-open.krabaton.repl.co/checkopen/{{username}}" />
    <br>
    <img src="https://i.im.ge/2023/08/08/j5Pp71.123.png" alt="test">
    <br>
    <img src="https://fastapi-check-open.krabaton.repl.co/static/check.png" alt="test">
    <br>
    <img src="http://localhost:8000/static/check.png" alt="test">
</p>
<p>If you did not sign up for our service, please ignore this email.</p>
<p>Thanks,</p>
<p>The Our Team</p>
</body>
</html>